/*
    CSS styling for analog clock with animation
    Author: Artyom Ulanchik
*/

/* Layout */
main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

:root {
    --primary-color: #000;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: var(--primary-color);
}
.hour-marks {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Transition has been used for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .05s ease-in-out;
}
